﻿/* Author: Gennaro Rubino
 * Date: 12/12/2019
 * Assignment: Final Project
 */

html, body
{
    margin: 0;
    height: 100%;
    overflow: hidden
}

body
{
    margin: 0px;
}

canvas
{
    width: 100%;
    height: auto;
}

@font-face
{
    font-family: "Hyperspace";
    src: url("fonts/Hyperspace.otf");
}
